@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>千里之行，始于足下</h1>
    <h1>A journey of a thousand miles begins with a single step</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Axiom</h2>
        <p>
            Axiom е общество хора, завладени от магията на Китай. Тук ще срещнете съмишленици и ще можете да научите повече за китайският език и всички тънкости в изучаването му.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Motto</h2>
        <p>请教别人一次是5分钟的傻子，从不请教别人是一辈子的傻子。</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Code</h2>
        <p>You can see the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/lyanavladinova/Axiom">See project source code &raquo;</a></p>
    </div>
</div>